/**
 * Reset & cascade:
 */
* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

/**
 * General styles:
 */
html {
  --serif: serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --accent: hsl(346, 72%, 48%);
  --surface: hsl(31, 87%, 94%); /* also check .surface class */
  --txt: hsl(346, 46%, 25%);
}
body {
  background-color: var(--surface);
  color: var(--txt);
  font-family: var(--serif);
  font-size: 1.4rem;
  -webkit-text-stroke: .05px black;
}

/**
 * Basic elements:
 */
h1, h2 {
  font-variant: small-caps;
}
h1 {
  font-size: 2.4rem;
  font-weight: bold;
}
h1 a {
  text-decoration: none;
}
* + p,
p + * {
  margin-top: 1em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
small {
  font-size: .62em;
}
hr {
  border: none;
  text-align: center;
}
hr:before {
  content: '· · ·';
}
time {
  display: block;
  font-variant: small-caps;
}
a, button {
  text-decoration: underline dotted;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/**
 * Site navigation:
 */
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  font-size: 1rem;
  opacity: .38;
  overflow: hidden;
  padding: 1rem;
}
nav:hover {
  background-color: var(--surface);
  border-bottom: 5px solid;
  border-bottom-color: var(--accent);
  opacity: 1;
}
nav * {
  display: inline;
}
nav label {
  font-weight: bold;
}
nav label:after {
  content: ':';
}
nav ul {
  list-style: none;
  margin-left: .5em;
  white-space: nowrap;
}
nav li {
  padding: 0 .5em;
}
nav > ul {
  animation: slide 15s infinite linear;
}
nav:hover > ul {
  animation-play-state: paused;
}
@keyframes slide {
  from { transform: translate(100%); }
  to { transform: translate(-100%); }
}

/**
 * Layout styles:
 */
header {
  background-color: var(--surface);
  border-bottom: 5px solid;
  border-bottom-color: var(--accent);
  font-weight: bold;
  margin-bottom: 1.62em;
  padding: 1rem;
}
header small {
  float: right;
  font-family: ;
  font-weight: normal;
  margin-top: .62em;
}
article {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
article .surface {
  background-color: hsl(31, 87%, 94%, .91);
  padding-bottom: 100vh;
}
article .surface > hr {
  border: none;
  border-top: 5px solid var(--accent);
  position: sticky;
  top: 0;
  z-index: 1;
}
article .surface > hr:before {
  content: '';
}
article:first-child .surface {
  padding-top: calc(100vh - 4em);
}
article:last-child {
  border-bottom: 5px solid var(--accent);
}
article section {
  display: inline-block;
  padding: 1rem;
}
article .content {
  max-width: 100vw;
  width: 31rem;
}
article .info {
  float: right;
  max-width: 19rem;
  position: sticky;
  top: 0;
  text-align: right;
}
article .author {
  display: block;
  font-size: 1rem;
  margin-top: 1.4em;
}
article .author + .author {
  margin-top: .4em;
}

@media (max-width: 50rem) {
  article .info {
    float: unset;
    max-width: 100%;
    position: static;
    text-align: left;
    width: 100%;
  }
  article .content {
    width: 100%;
  }
}
@media (min-width: 58rem) {
  html {
    font-size: 110%;
  }
  header {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  article .content {
    margin-left: 1rem;
  }
  article .info {
    margin-right: 1rem;
  }
}
@media (min-width: 72rem) {
  html {
    font-size: 125%;
  }
}
@media (min-width: 84rem) {
  html {
    font-size: 150%;
  }
  header {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  article .content {
    margin-left: 2rem;
  }
  article .info {
    margin-right: 2rem;
  }
}
@media (min-width: 96rem) {
  html {
    font-size: 200%;
  }
}
