@charset "UTF-8";

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("fonts/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: "et-book";
  src: url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("fonts/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal
}

/**
 * Reset & cascade:
 */
* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

/**
 * General styles:
 */
html {
  --serif: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --accent: hsl(346, 72%, 48%);
  --surface: rgb(255, 255, 255); /* also check .surface class */
  --txt: hsl(346, 46%, 25%);
}
body {
  background-color: var(--surface);
  color: var(--txt);
  font-family: var(--serif);
  font-size: 1.4rem;
  -webkit-text-stroke: .05px black;
}

/**
 * Basic elements:
 */
h1 {
  background-color: var(--surface);
  border-bottom: 5px solid var(--accent);
  border-top: 5px solid var(--accent);
  font-weight: bold;
  padding: 1rem;
  position: sticky;
  top: 1rem;
  z-index: 1;
}
h1 a {
  text-decoration: none;
}
h1 time {
  display: block !important;
  float: right;
  font-size: .62em;
  font-weight: normal;
  margin-top: .62em;
}
h2 {
  font-variant: small-caps;
}
* + p,
p + * {
  margin-top: 1em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
hr {
  border: none;
  text-align: center;
}
hr:before {
  content: '· · ·';
}
a, button {
  text-decoration: underline;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/**
 * Layout styles:
 */
article {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
article .surface {
  background-color: rgba(255, 255, 255, .91);
  padding-bottom: 100vh;
}
article:first-child .surface {
  padding-top: calc(100vh - 4em);
}
article:last-child {
  border-bottom: 5px solid var(--accent);
}
article .content,
article .contributors {
  display: inline-block;
  margin-top: 1.62em;
  padding: 1rem;
}
article .content {
  max-width: 100vw;
  width: 31rem;
}
article .contributors {
  float: right;
  font-variant: small-caps;
  max-width: 19rem;
  position: sticky;
  top: 7rem;
  text-align: right;
}
article .contributor {
  display: block;
}
article .contributor + .contributor {
  margin-top: .4em;
}

@media (max-width: 50rem) {
  h1 {
    position: static;
  }
  article .contributors {
    float: unset;
    max-width: 100%;
    position: static;
    text-align: left;
    width: 100%;
  }
  article .content {
    width: 100%;
  }
}
@media (min-width: 58rem) {
  html {
    font-size: 110%;
  }
  h1 {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  article .content {
    margin-left: 1rem;
  }
  article .contributors {
    margin-right: 1rem;
  }
}
@media (min-width: 72rem) {
  html {
    font-size: 125%;
  }
}
@media (min-width: 84rem) {
  html {
    font-size: 150%;
  }
  h1 {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  article .content {
    margin-left: 2rem;
  }
  article .contributors {
    margin-right: 2rem;
  }
}
@media (min-width: 96rem) {
  html {
    font-size: 200%;
  }
}
