html {
  font-size: calc(1em + .5vh);
}

article {
  background-image: none !important;
  margin-left: 1ch;
  margin-right: 1ch;
  max-width: 60ch;
}

h1 time {
  font-size: .6em;
  font-style: italic;
  font-weight: normal;
  margin-left: 1ch;
}
