---
layout: base
---

<header>
    <h1>{{ page.firstname }} {{ page.surname }}</h1>
</header>

{% for post in site.posts %}
    {% if post.authors contains page.handle %}
         <div style="margin-bottom: 4rem;">
            <h2>{{ post.title }}</h2>
            <time>&middot; {{ post.date | date_to_string }}</time>
            <p>
                {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                <a href="{{ post.url }}">(Read more)</a>
            </p>  
        </div>
    {% endif %}
{% endfor %}
