<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title>{{page.title}} &middot; {{site.title}}</title>

        <style>{% include distilled.css %}</style>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="alternate" type="aplication/rss+xml" title="RSS" href="/atom.xml">
    </head>
    <body>
        {{content}}
    </body>
</html>
